WinPro1/YoneticiXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Yöneticiler">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Yönetici">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KullaniciAdi" type="xs:string" />
              <xs:element name="Sifresi" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>